.chroma { color: #ffffff; background-color: #0d1117!important;}
.chroma .hll { background-color: #6e7681 }
.chroma .c { color: #8B949E; font-style: italic } /* Comment */
.chroma .err { color: #F85149 } /* Error */
.chroma .esc { color: #E6EDF3 } /* Escape */
.chroma .g { color: #E6EDF3 } /* Generic */
.chroma .k { color: #FF7B72 } /* Keyword */
.chroma .l { color: #A5D6FF } /* Literal */
.chroma .n { color: #E6EDF3 } /* Name */
.chroma .o { color: #FF7B72; font-weight: bold } /* Operator */
.chroma .x { color: #E6EDF3 } /* Other */
.chroma .p { color: #E6EDF3 } /* Punctuation */
.chroma .ch { color: #8B949E; font-style: italic } /* Comment.Hashbang */
.chroma .cm { color: #8B949E; font-style: italic } /* Comment.Multiline */
.chroma .cp { color: #8B949E; font-weight: bold; font-style: italic } /* Comment.Preproc */
.chroma .cpf { color: #8B949E; font-style: italic } /* Comment.PreprocFile */
.chroma .c1 { color: #8B949E; font-style: italic } /* Comment.Single */
.chroma .cs { color: #8B949E; font-weight: bold; font-style: italic } /* Comment.Special */
.chroma .gd { color: #FFA198; background-color: #490202 } /* Generic.Deleted */
.chroma .ge { color: #E6EDF3; font-style: italic } /* Generic.Emph */
.chroma .ges { color: #E6EDF3; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.chroma .gr { color: #FFA198 } /* Generic.Error */
.chroma .gh { color: #79C0FF; font-weight: bold } /* Generic.Heading */
.chroma .gi { color: #56D364; background-color: #0F5323 } /* Generic.Inserted */
.chroma .go { color: #8B949E } /* Generic.Output */
.chroma .gp { color: #8B949E } /* Generic.Prompt */
.chroma .gs { color: #E6EDF3; font-weight: bold } /* Generic.Strong */
.chroma .gu { color: #79C0FF } /* Generic.Subheading */
.chroma .gt { color: #FF7B72 } /* Generic.Traceback */
.chroma .g-Underline { color: #E6EDF3; text-decoration: underline } /* Generic.Underline */
.chroma .kc { color: #79C0FF } /* Keyword.Constant */
.chroma .kd { color: #FF7B72 } /* Keyword.Declaration */
.chroma .kn { color: #FF7B72 } /* Keyword.Namespace */
.chroma .kp { color: #79C0FF } /* Keyword.Pseudo */
.chroma .kr { color: #FF7B72 } /* Keyword.Reserved */
.chroma .kt { color: #FF7B72 } /* Keyword.Type */
.chroma .ld { color: #79C0FF } /* Literal.Date */
.chroma .m { color: #A5D6FF } /* Literal.Number */
.chroma .s { color: #A5D6FF } /* Literal.String */
.chroma .na { color: #E6EDF3 } /* Name.Attribute */
.chroma .nb { color: #E6EDF3 } /* Name.Builtin */
.chroma .nc { color: #F0883E; font-weight: bold } /* Name.Class */
.chroma .no { color: #79C0FF; font-weight: bold } /* Name.Constant */
.chroma .nd { color: #D2A8FF; font-weight: bold } /* Name.Decorator */
.chroma .ni { color: #FFA657 } /* Name.Entity */
.chroma .ne { color: #F0883E; font-weight: bold } /* Name.Exception */
.chroma .nf { color: #D2A8FF; font-weight: bold } /* Name.Function */
.chroma .nl { color: #79C0FF; font-weight: bold } /* Name.Label */
.chroma .nn { color: #FF7B72 } /* Name.Namespace */
.chroma .nx { color: #E6EDF3 } /* Name.Other */
.chroma .py { color: #79C0FF } /* Name.Property */
.chroma .nt { color: #7EE787 } /* Name.Tag */
.chroma .nv { color: #79C0FF } /* Name.Variable */
.chroma .ow { color: #FF7B72; font-weight: bold } /* Operator.Word */
.chroma .pm { color: #E6EDF3 } /* Punctuation.Marker */
.chroma .w { color: #6E7681 } /* Text.Whitespace */
.chroma .mb { color: #A5D6FF } /* Literal.Number.Bin */
.chroma .mf { color: #A5D6FF } /* Literal.Number.Float */
.chroma .mh { color: #A5D6FF } /* Literal.Number.Hex */
.chroma .mi { color: #A5D6FF } /* Literal.Number.Integer */
.chroma .mo { color: #A5D6FF } /* Literal.Number.Oct */
.chroma .sa { color: #79C0FF } /* Literal.String.Affix */
.chroma .sb { color: #A5D6FF } /* Literal.String.Backtick */
.chroma .sc { color: #A5D6FF } /* Literal.String.Char */
.chroma .dl { color: #79C0FF } /* Literal.String.Delimiter */
.chroma .sd { color: #A5D6FF } /* Literal.String.Doc */
.chroma .s2 { color: #A5D6FF } /* Literal.String.Double */
.chroma .se { color: #79C0FF } /* Literal.String.Escape */
.chroma .sh { color: #79C0FF } /* Literal.String.Heredoc */
.chroma .si { color: #A5D6FF } /* Literal.String.Interpol */
.chroma .sx { color: #A5D6FF } /* Literal.String.Other */
.chroma .sr { color: #79C0FF } /* Literal.String.Regex */
.chroma .s1 { color: #A5D6FF } /* Literal.String.Single */
.chroma .ss { color: #A5D6FF } /* Literal.String.Symbol */
.chroma .bp { color: #E6EDF3 } /* Name.Builtin.Pseudo */
.chroma .fm { color: #D2A8FF; font-weight: bold } /* Name.Function.Magic */
.chroma .vc { color: #79C0FF } /* Name.Variable.Class */
.chroma .vg { color: #79C0FF } /* Name.Variable.Global */
.chroma .vi { color: #79C0FF } /* Name.Variable.Instance */
.chroma .vm { color: #79C0FF } /* Name.Variable.Magic */
.chroma .il { color: #A5D6FF } /* Literal.Number.Integer.Long */
